    <section>
        <div class="subscribe">
            <div class="container">
                <div class="subscribe-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <h5>اشترك فى نشرتنا الاخبارية</h5>

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="subscribe-text">
                                <p>احصل على اخر التحديثات على المنتجات الجديدة والمبيعات القادمة</p>

                            </div>

                        </div>
                        <div class="col-md-5 col-sm-4 col-xs-12">
                            <input type="text" class="form-control" placeholder="عنوان بريدك الالكترونى">
                            <div class="subscribe-button">
                                <button class="btn">اشترك</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
       <footer>
        <div class="row">
            <div class="col-md-3 col-sm-12 ccol-xs-12">
                <div class="footer-logo">
                    <img src="{{ base_path }}themes/AdamStore/assets/images/footerlogo.png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="footer-links1">
                    {{page.footer_contact2}}
                </div>
            </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="footer-links1">
                  {{page.footer_contact1}}
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="contact-icons">
         {{page.footer_social_media}}

             

                </div>
            </div>
        </div>
<hr class="footer-hr">
   <div class="copyrights">
      <div class="container">
          <div class="mastercard">
           <img src="{{ base_path }}themes/AdamStore/assets/images/visalogo.png" class="img-responsive">
           <p>2019 All Rights Reserved Terms of Use and Privacy Policy</p>
       </div>
       
      </div>
       
   </div>
    </footer>

