
    <button id="top-btn"><i class="fas fa-arrow-up"></i></button>
    <header>
        <div class="top-header">
            <div class="row">


                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact">
                     {{page.contact}}
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="login-btn">

                        <a href="#">تسجيل دخول</a>
                    
                        <button id="eng"><p style="direction: ltr">ENGLISH</p></button>    
                        
                    </div>
                </div>

            </div>
        </div>
    </header>
    <div class="main-header">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="logo">
                    <img src="{{ base_path }}themes/AdamStore/assets/images/logo.png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="main-nav">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     {{page.main_navigation}}
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 cols-sm-12 col-xs-12">
                <div class="search-section">
                    <i class="fa fa-search"> </i>

                    <input type="text" class="form-control search" placeholder="بحث">

                </div>

            </div>

        </div>
    </div>