{% include directory ~ '/header.html.twig' %}
{{page.content}}
<div class="row">

    <div class="col-md-3 col-sm-12 col-xs-12">
        {{page.aside_cooking_tools}}
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
        {{page.kitchenscale_item}}

        {{page.all_products}}
    </div>
</div>
{% include directory ~ '/footer.html.twig' %}
