{% include directory ~ '/header.html.twig' %}

    <section>
           <div class="slider">
            <div class="horzntial-social-media">
             {{page.social_media}}
            </div>
{{page.slider}}
        </div>

    </section>
    <section>
        <div class="sales">
            <h3>{{page.title1}}</h3>
           {{page.highest_sales}}
        </div>
    </section>
    <section>
        <div class="offers">
           {{page.offers}}
        </div>
    </section>
    <section>
        <div class="newest-offers">
           {{page.title2}}
         {{page.new_offers}}
        </div>
    </section>
    <section>
       <div class="tools">
            <div class="tools-section">
                  {{page.new_offers2}}
           </div>
        </div>
    </section>
  
    <section>
        <div class="coperation">
        
                  {{page.brand}}
            
        </div>
    </section>
    <section>
        {{page.promo}}
    </section>
{% include directory ~ '/footer.html.twig' %}
