* {
    margin: 0;
    padding: 0;
    font-family: 'DroidArabicKufiRegular';
   font-weight: normal;
   font-style: normal;
    direction: rtl;
}
.toolbar .toolbar-tray-horizontal li {
    direction: ltr;
}
.toolbar-icon
{
    direction: ltr
}
#eng
{
        border: none;
    background-color: white;
}
.top-header
{
    padding-top: 20px;
}
.row
{
    width: 100%;
}
.top-header p
{
    display: inline-block;
        padding-left: 20px;
}
.contact
{
    float: right;
    padding-right: 25px;
}

.login-btn a {
    color: #fff;
    background-color: #563c3d;
    padding: 2px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 12px;
    border: 2px solid #563c3d;
}
.login-btn a:hover
{
    color: #fff;
    text-decoration: none;
}
.main-header
{
    background-color: #231f20;
    padding: 10px;
}
.logo img
{
    width: 100%;
}
.main-nav ul 
{
    list-style-type: none;
}
.main-nav ul li
{
    display: inline-block;
    padding: 6px;

}
.main-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.main-nav ul li a:hover
{
    background-color:#985f25; 
}

.main-header
{
    padding-top: 10px;
}
.search
{
   border-radius: 10px;
    width: 75%;
    height: 30px;
    float: left;
}
.second-row
{
    padding-right: 35px;
}
.col-md-6
{
    padding: 0;
}
.search-section
{
    display: flex;
    padding-top: 10px;
}
.search-section svg
{
    padding-top: 8px;
    color: #fff;
    margin-left: 5px;
    font-size:30px;
}
.navbar-toggler
{
    background-color:#fff;
    position: relative;
    right:90%;
}

.slider
{
        background-color: #ededed;
}
.slider-img
{
    height: 270px;
}
.slider-img {
    height: 270px;
    width: 100%;
    float: left;
}
.flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a {
    height: 60px;
}
    .horzntial-social-media
    {
         padding-top: 34px;
    background-color: #ededed;
         float: right;
    width: 5%;
    height: 300px;
    }
.slick-wrapper,
.slick,
.slick * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  direction: ltr;
}
.slick-arrow::before {
    color: #b29999;
    
}
   
.horzntial-social-media ul
{
        margin: 15px;
    padding: 0;
    list-style-type: none;
}
.col
{
    padding: 0;
}
.col-md-11
{
    padding: 0;
}

.horzntial-social-media ul li 
{
padding: 6px;
}
.horzntial-social-media ul li  svg
{
color: #000;
}
  
  
.top-left {
    transform: rotate(-90deg) scaleX(-1);
    font-size: 10px;
    transform-origin: top left;
}

.sales h3
{
    text-align: center;
    color: #663333;
    margin-bottom: 25px;
}
.sales-img img {
    width: 100%;
    height:170px;
}

.sales-item {
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card-img-top
{
          height: 170px;
}
.card-body
{
        height: 180px;
}
.card-title {
    font-size: 12px;
    text-align: center;
}
.sales h5 {
    text-align: center;
    color: #663333;
    font-size: 15px;
}
.sales
{
    padding: 25px;
     margin-right: 50px;
}

.old-price {
    color: #8c8282;
    text-decoration: line-through;
    text-align: center;
    font-size: 20px;
}
.new-price {
    color: #996633;
    text-align: center;
    font-size: 20px;
}
.fontawesome-icons
{
    float: right;
    color: #fff;
}
.sales-basket a
{
 color: #fff;
    text-decoration: none;
}
.sales-basket a:hover
{
    color: #fff;
    text-decoration: none;
}
.sales-basket:hover
{
    color: #fff;
    text-decoration: none;
    background-color: #985f25;
}

.sales-basket {
    padding: 9px;
    background-color: #663333;
    color: #fff;
    padding-left: 9px;
}
.sales-basket p
{
    margin: 0;
    text-align: center;
}
.offers-images
{
    margin: 10px;
}
.offers-images img
{
    width: 99%;
    height: auto;
}
.newest-offers h2
{
    text-align: center;
}
.views-exposed-form
{
    width: 0%;
        position: relative;
    left: 320px;
}
.bef-exposed-form
{
    position: relative;
    left: 320px;
}
summary
{
    display: none;
}
.newest-offers
{    margin: 20px;
}
.tools-section
{
        padding-top: 100px;
    margin-right: 30px;
}
.tool-item
{
    border: 1px solid  #8c8282;
       border-radius: 12px;
    width: 80%;
    float: left;
    margin-bottom: 30px;
   transition: all 0.3s ease-in-out;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);


}
#top-btn
{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
        z-index: 300;


    
}
.tools
{
    background-attachment: fixed;
    padding-top: 30px;
    background-image: url("../images/bg1.jpg");
    background-size: 100% 100%;
    height: 700px;
}
.tool-text
{
   background-color:#663333; 
       border-radius: 0px 0px 15px 15px;
}
.tool-item:hover
{
    background-color: gray;
}
.tool-text h5
{
    text-align: center;
    color: #fff;
    border-radius:20px;
    margin: 0;
    padding: 7px;
}
.coperation-logo
{
    border: 3px solid #bfbfbf;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
     margin: 25px;
       height: 80px;
}
.coperation-logo img
{
    width: 93%;
}
.coperation-item
{
    
    margin-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.mechandise
{
    margin: 15px;
    border: 1px solid #bfbfbf;
    border-radius: 20%;
}
.mechandise img
{
    width: 100%;
    height: auto;
}
.subscribe
{
    margin-bottom: 30px;
    background-color: #231f20;
    padding-top: 20px;
}
.subscribe
{
    padding: 25px;
    color: #fff;
}
.subscribe p
{
    text-decoration: underline;
    font-size: 12px;
}
.subscribe p:hover
{
    color: gray;
}
.subscribe-content 
{
    text-align: right;
}
.subscribe-text
{
    font-size: 9px;
    padding-top: 7px;
}
.form-control
{
        border-radius: 0.58rem;
        height: calc(1.4em + .75rem + 2px);
       width: 77%;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.subscribe-button {
    background-color: #c9b79c;
    border: 1px solid #c9b79c;
    border-radius: 6px;
    position: absolute;
    top: 0px;
    width: 89px;
    left: 15px;
    text-align: center;
    height: 38px;
}

.flexslider .slides img {
    height: 300px;
}
.footer-logo img {
    width: 80%;
}
.flexslider {
    width: 95%;
    border: 1px;
    float: left; 
}
.slick-next slick-arrow
{
    right: -25px;
}
.btn
{
    color: #fff;
    display: inline-flex;
}
.subscribe-content h5
{
font-size: 20px;    
}
.footer-links1 ul
{
    list-style-type: none;
    text-align: center;
}
.footer-links1 ul li
{
    padding: 5px;
}
.footer-links1 ul li a
{
   color: #663333; 
    text-decoration: none;
}
.contact-icons ul li a
{
    text-decoration: none;
    pointer-events: none;
    cursor: pointer;
    color:#663333; 
}
.contact-icons ul
{
    list-style: none;
}
.contact-icons ul li
{
       list-style: none;
    text-align: right;
    padding: 10px;
}
.contact-icons svg{
    padding-top: 5px;
   margin-left: 5px;
    font-size: 20px;
}
.contact-icons p
{
    text-align:right;
}
@media only screen and (max-width: 1199px) {
  
}
    .old-price {
    color: #8c8282;
    text-decoration: line-through;
    text-align: center;
    font-size: 20px;
}
    .new-price {
    color: #996633;
    text-align: center;
    font-size: 20px;
}
    .sales-basket p {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
.heart
{
    width: 25px;
    height: 25px;
    background-color: #663333;
    border: 1px solid #663333;
    border-radius: 50%;
    color: #fff;
    left: 170px;
    position: relative;
    bottom: 150px;
    text-align: center;
}
.cooking-tool-image {
    height: 196px;
}

.cooking-tool-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    background-color: #fff;
}

.fontawesome-icon svg
{
    margin: 3px;
}

.card-body p
{
    text-align: center;
}
.card-title
{
    color: #663333;
    font-size: 15px;
}
.footer-hr
{
    border: 1px solid #000;
}
.mastercard img
{
    width: 15%;
}
.mastercard p
{
    float: right;
       padding-top: 15px;    
}
.slick-initialized .slick-slide {
    display: block;
}
#block-adamstore-page-title h1
{
    text-align: center;
        color: #663345;
    background-color: #f6f7f7;
    margin-bottom: 20px;
}
#block-webform
{
    float: right;
    margin-right: 10px;
}
#block-webform label
{
 color: #704010;
        padding: 10px;
}

.cooking-img img {
    width: 100%;
    height: 200px;
}
.cooking-scale-title
{
    text-align: center;
}
.cooking-scale-price 
{
    padding-bottom: 20px;
}
.cooking-scale-price p
{
    text-align: center;
    color: #663333;
}
.cooking-scale-title a {
    text-decoration: none;
    color: #000;
    font-size: 10px;
}
.cooking-scale-title a:hover
{
    color: #704010;
    text-decoration: none;
}
.cooking-scale {
    margin: 10px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.48);
    border: 3px solid #704010;
    border-radius: 5px;
    width: 231px;
    height: auto;
}
.buying-cooking-scale
{
    background-color: #663333;
    color: #fff;
}
.buying-cooking-scale p
{
    margin-bottom: 0;
}
.buying-cooking-scale .fa-heart {
    position: relative;
    width: 44px;
    right: 0px;
    cursor: pointer;
    height: 25px;
    background-color:#f7f7f7;
    bottom: 25px;
    color: #663333;
        margin-right: 0;
}
.fontawesome-icon svg
{
    position: absolute;
    left: 1px;  
}
  
.buying-cooking-scale a
{
    color: #fff;
}
.buying-cooking-scale a:hover
{
    color: #fff;
    text-decoration: none;
}
.buying-cooking-scale
{
    text-align: center;
}
#block-adamstore-page-title
{
        margin-bottom: 120px;
}
#sortbyallproducts
{    float: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 6px 10px;
}
.pager__items ul
{
    list-style-type: none;
    display: inline-flex;
}
.pager__items
{
   display: inline-flex;
    list-style: none;
    border: 1px solid #dcddde;
}
.pager__items li
{
    padding: 7px;
    border-left: 1px solid #dddddd;
}
.pager1
{
        position: relative;
    width: 28%;
    text-align: center;
}
.pager__items li a
{
    color: #663333;
}
.pager .is-active
{
    background-color: #663333;
}
.pager .is-active a
{
    color: #fff;
}

/* pageantion2 */
.pager1 .is-active
{
    background-color: #663333;
}
.pager1 .is-active a
{
    color: #fff;
}

.pager 
{
        position: relative;
     width: 80%;
    text-align: center;
}
@media only screen and (max-width:  538px) {

    .subscribe-button {
   float: left;
}
}
@media only screen and (max-width:767px) {

    .coperation-logo img {
    width: 40%;
}
}
    @media only screen and (max-width: 960px) {
.sales-item {
    width: 120px;
}
        .main-nav ul li {
    display: block;
    padding: 10px;
}
}